%head
  %link{:href => "https://fonts.googleapis.com/css?family=Raleway", :rel => "stylesheet"}/
%body
  .container
    .text
      MORNING BUDDY
    .mug-container
      .mug
        .cap
          .cap1
          .cap2
        .body-container
          .mug-body
            .middle
              .eye.eye1
              .eye.eye2
              .smile
      .legs
        .leg1
          .l1
          .l2
          .foot
        .leg2
          .l1
          .l2
          .foot